
<h3>Administracion</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Image URL</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.image}}</td>
      <td>
        <a href="/admin/update-product/{{this._id}}" class="btn btn-outline btn-sm">Edit</a>
        <button class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
    {{/each}}
    
  </tbody>
</table>