
<main>
    <a href="/">Volver atrás</a>
    <div class="champion-thumbnail-container mt-3">
        <img src="{{champion.img}}" alt="{{champion.name}}" class="champion-thumbnail">
    </div>
    <h1>{{champion.name}}</h1>
    <p>Role: {{champion.role}}</p>
    <p>{{champion.description}}</p>
</main>
